<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog CMS</title>
  <link rel="stylesheet" href="/server/public/styles/styles.css">
</head>
<body>
  <header>
    <h1>Blog CMS</h1>
    <nav>
      {{#if user}}
        <a href="/">Homepage</a>
        <a href="/server/routes/postRoutes.js">Dashboard</a>
        <a href="/server/routes/authRoutes.js">Log Out</a>
      {{else}}
        <a href="/">Homepage</a>
        <a href="/server/routes/authRoutes.js">Log In</a>
      {{/if}}
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
</body>
</html>`